@import url(//fonts.googleapis.com/css?family=Noto+Sans);

body{
    font-family: 'Noto Sans';
    margin: 0;
    padding: 0;
}

header{
    background-color: #1d99f3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-bottom: 5em;
}

.bg-2018{
    background-image: url(../img/floripa.jpg);
}

.bg-2017{
    background-image: url(../img/bh.jpg);
}

.bg-2016 {
    background-image: url(../img/rio.jpg);
}

header h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1.2;
    text-shadow: 2px 2px #000000;
}

#logo {
    max-height: 125px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section:nth-of-type( odd ) {
    background-color: #f5f6fa;
}

footer {
    background-color: #1d99f3;
}

footer p{
    font-size: 0.8em;
    color:white;
}

.button {
    text-align: center;
    margin: 1em 0 1em 0 ;
}

.button-primary{
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    color: white;
    background: #1d99f3;
    padding: 0.3em 1em;
    text-decoration: none;
}

.button-secondary{
    border: 1px solid #1d99f3;
    border-radius: 30px;
    color: black;
    font-size: 0.8em;
    padding: 0.3em 1em;
    text-decoration: none;
}

.button-secondary:hover {
    background: #1d99f3;
    color: white;
}

.icon {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.navbar {
    margin-bottom: 3em ;
    padding: 0 1em ;
    overflow: auto;
    background-color: transparent;
}

.navbar-item {
    color: white;
    display: block;
    text-align: center;
    padding: 1em ;
    float: right;
    text-decoration: none;
    text-shadow: 2px 2px #000000;
}

.navbar-title {
    color: white;
    text-align: center;
    padding: 1em;
    float: left;
    display: block;
    text-shadow: 2px 2px #000000;
    text-decoration: none;
}

.navbar-dropdown {
    display: block;
    float: right;
    overflow: auto;
    padding: 1em;
}

.navbar-dropdown-title {
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px #000000;
}

.navbar-dropdown-content {
    z-index: 1;
    display: none;
    position: absolute;
}

.navbar-dropdown-item {
    color: white;
    text-decoration: none;
    display: block;
    background-color: transparent;
    padding: 1em;
    text-shadow: 2px 2px #000000;
}

.navbar-dropdown:hover .navbar-dropdown-content {
    display: block;
}

.navbar-collapse {
    margin-bottom: 3em;
    padding: 0 ;
    overflow: auto;
    background-color: transparent;
    display: none;
    border: 1px solid white;
}

.navbar-header-collapse {
    height: 3em;
}

.navbar-icon {
    color: white;
    text-align: center;
    padding: 1em;
    float: right;
    display: block;
    text-shadow: 2px 2px #000000;
}

.navbar-collapse-dropdown-item,
.navbar-item-collapse {
    color: white;
    display: block;
    text-align: center;
    padding: 1em;
    float:none;
    border: 1px solid white;
    text-decoration: none;
    text-shadow: 2px 2px #000000;
}

.hide {
    display: none;
}

@media screen and (max-width: 650px) {
    .navbar {
        display: none;
    }
    .navbar-collapse {
        display: block;
    }
}

.img-responsive {
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-avatar{
    border-radius: 500em;
}

.container, .row, .col, .col-3, .col-sidebar, .col-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em ;
}

.container h2 {
    text-align: center;
}

@media (min-width: 1170px) {
    .container {
        max-width: 1170px;
        padding: 2em 0 2em 0;
    }
}

.row {
    padding: 0 1em ;
    overflow: auto;
    clear:both;
}


.col {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    /* margin-bottom: 2em; */
    margin-right: -4px;
}

.col p {
    text-indent: 1.5em;
    text-align: justify;
}

@media (min-width: 728px) {
    .col-3 {
        width: 33.3333%;
    }
}

.col-3 img {
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-3 h2,
.col-3 p {
    text-align: center;
    text-indent: 0;
}

@media (min-width: 992px) {
    .col-content {
        width: 70%;
        padding: 0 2em;
    }

    .col-sidebar {
        width: 30%;
    }

}

.timeline {
    position: relative;
    max-width: 1170px;
    height: auto;
    padding: 0 ;
    margin: 0 auto;
    overflow: auto;
    list-style: none;
}

.timeline-background {
    width: 50%;
    float: left;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-right: 2px dashed grey;
}

.timeline-year {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 3px;
    color: #f0f0f0;
    background-color: #1d99f3;
    text-align: center;
    margin-top: 3em;
    margin: 1em auto;
    clear: both;
}

.timeline-event{
    width: 44%;
    margin: 4% 2%;
    padding: 1%;
    text-align: center;
    background-color: white;
}

.timeline-img {
    width: 44%;
    margin: 2% 2%;
    padding: 1%;
    background-color: white;
}

.timeline-event:nth-of-type( odd ){
    float:right;
}

.timeline-event:nth-of-type( even ) {
    float: left ;
}

.timeline-img:nth-of-type( even ) {
    float: right;
}

.timeline-img:nth-of-type( odd ) {
    float: left;
}

@media (max-width: 600px) {
    .timeline-event,
    .timeline-img {
        width:auto;
        float:none;
    }
}

.link{
    text-decoration: none;
    color:#1d99f3;
}

.link-footer{
    text-decoration: none;
    color:white;
}


.form {
    width: 50%;
}

@media (max-width: 992px) {
    .form {
        width: 100%;
    }
}

.form input {
    width: 100%;
    padding: 1em ;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 0.5em ;
    outline: 0;
    box-sizing: border-box;
}

.form label {
    padding: 1em 1em 1em 0 ;
}

.error-message{
    background-color:#f44755;
    color:white;
    width: 100%;
    border-radius: 10px;
    font-size: 0.8em;
    padding: 1em;
    text-indent: 0;
    box-sizing: border-box;
}

.success-message {
    background-color: #27ae60;
    color: white;
    width: 100%;
    border-radius: 10px;
    font-size: 0.8em;
    padding: 1em;
    text-indent: 0;
    box-sizing: border-box;
}